html {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background: url("assets/images/bluemarbles.jpeg") repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

li {
  border-bottom: 1px solid #4a4a4a;
  padding-bottom: 10px;
}

div.searchForm {
  margin: 0;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%,-10%);
  max-width: 850px;
}

div.link {
  position: absolute;
  right: 0;
  top: 0;
  width: 10vh;
  height: 14px;
  padding: 10px 10px 10px 10px;
  color: DodgerBlue;
  border-radius: 4px;
  background-color: DodgerBlue;
  text-align: center;
  vertical-align: middle;
}

a.gitLink {
  padding-left: 3px;
  padding-bottom: 5px;
  font-size: 13px;
  text-decoration: none;
}

a.gitLink:link {
  color: White;
}

a.gitLink:visited {
  color: White;
}

div.extraCriterias {
  text-align: center;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 20%;
}

#searchResults {
  position: absolute;
  bottom: 0;
  display: inline-block;
  float: left;
  width: 52%;
  height: 65%;
  border: 1px solid DodgerBlue;
  border-radius: 4px;
  overflow-y: scroll;
  background-color: White;
}

#mapcontainer {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  float: right;
  height: 65%;
  width: 42%;
  border: 1px solid DodgerBlue;
  border-radius: 4px;
}


body {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}


div.bottomContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: 1px solid Blue;
  vertical-align: bottom;
}


#clear {
  clear: both;
}

.searchElem {
  margin-left: 10px;
}

.extraCritera {
  margin-left: 10px;
}

select {
  padding-left: 10px;
  margin-right: 20px;
  display: inline-block;
  cursor: pointer;
  width: 28.24vh;
  outline: 0;
  border: 0;
  border-radius: 0;
  background: url("assets/images/br_down.png") no-repeat right White;
  background-position: 25.289vh;
  color: #666;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  color: DodgerBlue;
  font-size: 16px;
  line-height: 1;
  height:  3.77vh;
  border: 1px solid DodgerBlue;
  border-radius: 4px;
}

input[type=search] {
  width: 42.1496vh;
  color: DodgerBlue;
  border: 1px solid DodgerBlue;
  border-radius: 4px;
  padding: 16px 20px;
  background: url("assets/images/searchicon.png") no-repeat right;
  background-position: 38.5vh;
  background-color: White;
}

input[type=submit], input[type=button] {
  width: 150px;
  padding: 16px 16px;
  border: 1px solid DodgerBlue;
  border-color: DodgerBlue;
  background-color: White;
  color: DodgerBlue;
  border-radius: 4px;
  font-size: 16px
}

input[type=button] {
  margin-right: 2px;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: White;
}
